<div data-section="steps/<%= index %>">
  <form autosave data-target="steps/<%= index %>" data-action="steps/<%= index %>/update">
    <input type="checkbox" disabled />
    <input autosize type="text" name="step" value="<%= step %>" />
  </form>
</div>

